{% extends 'oper/base.html' %}

{% block content %}

                <!-- ============================================================== -->
                <!-- Chart-1 -->

                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Данные BitStamp BTC/USD</h5>
                                <div id="real-timebitstamp_btc_usd" style="height:100px;"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Данные BitStamp ETH/USD</h5>
                                <div id="real-timebitstamp_eth_usd" style="height:100px;"></div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Данные BTC Trade UA BTC/UAH</h5>
                                <div id="real-timebtctradeua_btc_uah" style="height:100px;"></div>

                            </div>
                        </div>
                    </div>
                      <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Данные Kuna BTC/UAH</h5>
                                <div id="real-timekuna_btc_uah" style="height:100px;"></div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Данные WhiteBit USDT/UAH</h5>
                                <div id="real-timewhitebit_usdt_uah" style="height:100px;"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Данные WhiteBit ETH/UAH</h5>
                                <div id="real-timewhitebit_eth_uah" style="height:100px;"></div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Данные WhiteBit BTC/UAH</h5>
                                <div id="real-timewhitebit_btc_uah" style="height:100px;"></div>

                            </div>
                        </div>
                    </div>
                       <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Данные средняя  комиссия по ETH при цене 21000 за gas</h5>
                                <div id="real-timeetherscan21000_eth_eth" style="height:100px;"></div>

                            </div>
                        </div>
                    </div>

                </div>
                 <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Контекстные переменные</h4>
                    </div>
                 </div>
                <div class="row">
                    {% include "oper/context_var.html" with name="BitStamp BTC/USD" id="context_bitstamp_btc_usd" %}
                    {% include "oper/context_var.html" with name="BitStamp BTC/USD" id="context_bitstamp_eth_usd" %}
                    {% include "oper/context_var.html" with name="BitStamp BTC/USD" id="context_kuna_btc_uah" %}
                    {% include "oper/context_var.html" with name="BitStamp BTC/USD" id="context_btctradeua_btc_uah" %}

                    {% include "oper/context_var.html" with name="WhiteBit BTC/UAH" id="context_whitebit_btc_uah" %}
                    {% include "oper/context_var.html" with name="WhiteBit USDT/UAH" id="context_whitebit_usdt_uah" %}
                    {% include "oper/context_var.html" with name="WhiteBit ETH/UAH" id="context_whitebit_eth_uah" %}
                    {% include "oper/context_var.html" with name="Средняя комиссия ETH при цене  21000" id="context_estimated_eth_fee21000" %}

                </div>
                 <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Калькулятор курсов</h4>
                    </div>
                 </div>
                <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-0"> Выберите из какой в какую валюту, чтобы смотреть и редактировать формулу расчета курса для направления обмена</h4>
                            </div>
                            <div class="comment-widgets scrollable ps-container ps-theme-default" data-ps-id="2b414a83-9d49-ee38-bd62-aabbea003a57">
                                <!-- Comment Row -->
                                <div class="d-flex flex-row comment-row mt-0">
                                    <div class="comment-text w-100">
                                        <h6 class="font-medium">Направления:</h6>
                                        {% for i in directions %}
                                            <button

                                                    type="button"
                                                    class="btn btn-outline-info calc_buttons"
                                                    onclick="Calculator.exchange_change(event, '{{i.from}}', '{{i.to}}')">

                                                {{i.from}} -> {{i.to}}
                                            </button>

                                        {% endfor %}
                                        <textarea class="mb-3 d-block" cols="50" rows="20" id="calc_rate"></textarea>
                                        <div class="comment-footer">
                                            <button type="button" class="btn btn-cyan btn-sm text-white" onclick="Calculator.save_change()">Save</button>
                                            <button type="button" class="btn btn-success btn-sm text-white" onclick="Calculator.test_change()">Test</button>
                                            <button type="button" class="btn btn-danger btn-sm text-white" onclick="Calculator.delete_change()">Delete</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- Comment Row -->

                        </div>

                    </div>



            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
{% endblock %}

{% block scripts %}

    <script src="/static/oper/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/static/oper/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/static/oper/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="/static/oper/assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="/static/oper/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/static/oper/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/static/oper/js/custom.min.js"></script>
    <!-- this page js -->
    <script src="/static/oper/assets/libs/chart/matrix.interface.js"></script>
    <script src="/static/oper/assets/libs/chart/excanvas.min.js"></script>
    <script src="/static/oper/assets/libs/flot/jquery.flot.js"></script>
    <script src="/static/oper/assets/libs/flot/jquery.flot.pie.js"></script>
    <script src="/static/oper/assets/libs/flot/jquery.flot.time.js"></script>
    <script src="/static/oper/assets/libs/flot/jquery.flot.stack.js"></script>
    <script src="/static/oper/assets/libs/flot/jquery.flot.crosshair.js"></script>
    <script src="/static/oper/assets/libs/chart/jquery.peity.min.js"></script>
    <script src="/static/oper/assets/libs/chart/matrix.charts.js"></script>
    <script src="/static/oper/assets/libs/chart/jquery.flot.pie.min.js"></script>
    <script src="/static/oper/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="/static/oper/assets/libs/chart/turning-series.js"></script>
    <script src="/static/oper/js/pages/chart/chart-page-init.js?js_version={{js_version}}11"></script>

{% endblock %}