
{% extends 'oper/base.html' %}

                {% block content %}
                <div class="row">
                  <div class="col-md-6">
                    <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Чат с клиентом по сделке</h4>
                            </div>
                            <div class="comment-widgets scrollable ps-container ps-theme-default"
                                 id="chat_messages" data-ps-id="7848b861-b1a1-64c9-fac4-fff412d44218">
                                <!-- Comment Row -->

                                <!-- Comment Row -->
                                <!-- Comment Row -->

                                <div class="form-group row">
                                        <label class="col-sm-3 text-end control-label col-form-label">Наше сообщение</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" id="chat_msg"></textarea>
                                        </div>
                                </div>

                            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                            </div>
                                <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;">
                                    <div class="ps-scrollbar-y"  tabindex="0" style="top: 0px; height: 0px;"></div>
                                </div>
                            </div>
                        </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Данные по сделке:</h4>
                            </div>
                            <div id="order_info" class="card-body">
                            </div>
                    </div>
                  </div>
                </div>
                {% endblock %}

{% block scripts %}
  <script src="/static/oper/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/static/oper/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/static/oper/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="/static/oper/assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="/static/oper/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/static/oper/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/static/oper/js/custom.min.js"></script>
    <!-- this page js -->
    <script src="/static/oper/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
    <script src="/static/oper/assets/extra-libs/multicheck/jquery.multicheck.js"></script>
    <script src="/static/oper/assets/extra-libs/DataTables/datatables.min.js"></script>
    <script>
       let chat_id = "{{chat_obj.uuid}}";
       let username = "{{username}}";
        $(function() {
        "use strict";
            Main.start_chat(chat_id, "chat_messages", "chat_msg");
            Main.whole_order_info({{chat_obj.deal.id}}, "#order_info");
        });

    </script>

{% endblock %}