
{% block content%}
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title mb-0">Badges</h5>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Badges</th>
                                        <th scope="col">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span class="badge bg-primary">Primary</span>
                                        </td>
                                        <td>
                                            <code>.badge .bg-primary</code>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="badge bg-secondary">Secondary</span>
                                        </td>
                                        <td>
                                            <code>.badge .bg-secondary</code>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="badge bg-success">Success</span>
                                        </td>
                                        <td>
                                            <code>.badge .bg-success</code>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="badge bg-danger">Danger</span>
                                        </td>
                                        <td>
                                            <code>.badge .bg-danger</code>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="badge bg-warning">Warning</span>
                                        </td>
                                        <td>
                                            <code>.badge .bg-warning</code>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="badge bg-info">Info</span>
                                        </td>
                                        <td>
                                            <code>.badge .bg-info</code>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="badge bg-light text-dark">Light</span>
                                        </td>
                                        <td>
                                            <code>.badge .bg-light</code>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="badge bg-dark">Dark</span>
                                        </td>
                                        <td>
                                            <code>.badge .bg-dark</code>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="card-body">
                                <h5 class="card-title mb-0">Pills</h5>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Pills</th>
                                        <th scope="col">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span class="badge rounded-pill bg-primary">Primary</span>
                                        </td>
                                        <td>
                                            <code>badge rounded-pill bg-primary</code>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="badge rounded-pill bg-secondary">Secondary</span>
                                        </td>
                                        <td>
                                            <code>badge rounded-pill bg-secondary</code>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="badge rounded-pill bg-success">Success</span>
                                        </td>
                                        <td>
                                            <code>badge rounded-pill bg-success</code>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="badge rounded-pill bg-danger">Danger</span>
                                        </td>
                                        <td>
                                            <code>badge rounded-pill bg-danger</code>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="badge rounded-pill bg-warning">Warning</span>
                                        </td>
                                        <td>
                                            <code>badge rounded-pill bg-warning</code>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="badge rounded-pill bg-info">Info</span>
                                        </td>
                                        <td>
                                            <code>badge rounded-pill bg-info</code>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="badge rounded-pill bg-light text-dark">Light</span>
                                        </td>
                                        <td>
                                            <code>badge rounded-pill bg-light</code>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="badge rounded-pill bg-dark">Dark</span>
                                        </td>
                                        <td>
                                            <code>badge rounded-pill bg-dark</code>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
{% endblock %}


{% block scripts %}

    <script src="/static/oper/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/static/oper/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/static/oper/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="/static/oper/assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="/static/oper/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/static/oper/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/static/oper/js/custom.min.js"></script>


{% endblock %}