{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profinef</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
  </head>
  <body>


  <main id="main">

    {% block content %}
    {% endblock %}

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->


 <div class="modal fade" id="exchange-modal" tabindex="-1">
        <div class="modal-dialog  modal-lg">
          <div class="modal-content">
            <div class="modal-header">
                  <h5 class="modal-title" id="exchange-modal-title"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body">
                <div id="exchange-modal-body"></div>

            </div>
          </div>
        </div>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/theme-js-for-css.js' %}"></script>

  {{ lang_js_dict|json_script:'langJsDict' }}
  <script data-lang="{% if request.session.lang %}{{ request.session.lang }}{% else %}uk{% endif %}" src="{% static 'js/main.js' %}?version=4.1"></script>
  
  <script>
      
      document.addEventListener("DOMContentLoaded", function(event) {
      {% for i in allrates %}
        avaliable_pairs.push("{{i}}");
      {% endfor %}
      Main.on_load(event, '{{cur1}}', '{{cur2}}');
  });
  </script>




  {% block script %}
  {% endblock %}

  </body>
</html>
