{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section style="margin:40px 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <h3>Invoice currency: {{ invoice.currency.title }}</h3>
                    <h3>Invoice Sum: {{ invoice.sum }}</h3>
                    <h3>Invoice payment details: {{ invoice.crypto_payments_details }}</h3>
                    <h3>Status: {{ invoice.status }}</h3>

                    <br>
                    <a href="{{t_link}}">Link to telegram for dialog with operator</a>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
